*{
    margin: 0;
}

a{
    text-decoration: none;
}

.main{
    display: flex;
    justify-content: space-evenly;
    padding: 20px 10px;
    box-shadow: 0 1px 0 0 rgb(230, 226, 226);
    border: 0.01px;
}
.logo{
    padding: 0px;
    text-decoration: none;
    text-wrap: none;
    font-size: 30px;
    font-weight: bolder;
    color:#1E3A5F;
    font-family: sans-serif;
}
.n{
    color: #E74C3C;
}
.opt{
    display: flex;
    justify-content: space-between;
    color: #333333;
    gap: 45px;
    right: 80px;
    font-size: 17px;
    font-family:sans-serif;
    cursor: pointer;
}
.btn{
    background-color: orangered;
    color: white;
    border-radius: 35px;
    border-color: antiquewhite;
    border: none;
    cursor: pointer;
    height: 40px;
    width: 20%;
    font-size: smaller;
    font-weight: bold;
}
.heading{
    color: #1E3A5F; 
    font-size: 40px;
    font-family: sans-serif;
    align-items: center;
    text-decoration: none;
    display: flex;
    justify-content: center;
}
.h1{
    color: #6C757D;
    display: flex;
    justify-content: center;
    font-family:sans-serif;
}
/* .content{
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 300px;
} */

.destination{
    background-color: rgb(242, 242, 242);
    padding: 50px;
}

.flex{
    display: flex;
    padding: 40px 0px;
    gap: 30px;
    justify-content: center;
}

.card{
    width: 33.333%;
    overflow: hidden;
    text-align: center;
    background-color: white;
    box-shadow: 0px 0px 20px gray;
    border-radius: 20px;
}

.card-content{
    padding: 10px;
}

.card img{
    width: 100%;
    height: 200px;
    object-fit: cover;
}
.card-btn{
    background-color: #1E3A5F;
    color: rgb(250, 239, 220);
    border-radius: 17px;
    box-shadow: none;
    border: none;
    cursor: pointer;
    height: 32px;
    width: 27%;
    font-size: smaller;
    font-weight: bold;
}
.card-btn:hover{
    transform: translate3d(2%);
    background-color: rgb(47, 47, 151);
    
}
.country{
    color: #1E3A5F;
    font-family: sans-serif;
    font-size: 22px;
}
.text{
    color: #6C757D;
    font-family: sans-serif;
    padding: 20px 0;
}
.flex1{
    display: flex;
    justify-content: center;
    gap: 50px;
    text-align: center;
    padding: 20px 0;

}
.topics{
    color: #1E3A5F;
    font-family: sans-serif;
    text-align: center;
    background-color: white;
    padding: 20px 0;
    box-shadow: 0px 0px 20px gray;
    border-radius: 20px;
    width: 25%; 
}



