  
  * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  background-color: #f4f6f1;
}

/* Header */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 200px;
}

.logo {
  display: flex;
  align-items: center;
  gap: 10px;
}

.logo img {
  height: 40px;
}
.logo:hover{
    box-shadow: 0 0 1px 0 gray;
    border-radius: 20px;
    transform: rotateY(20deg);
    cursor: pointer;
}
.cart {
  font-weight: bold;
  color: #700000;
  cursor: pointer;
}

.cart:hover{
    transform: rotateY(20deg);
}

.cart .count {
  background: #700000;
  color: white;
  border-radius: 50%;
  padding: 2px 6px;
  font-size: 12px;
}

/* Category Box */
.category-box {
  background: white;
  width: fit-content;
  margin: auto ;
  padding: 40px;
  border-radius: 120px;
  display: flex;
  justify-content: center;
  gap: 100px;
  align-items: center;  
  
  
}

.category {
  text-align: center;
}

.category img {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  
}
.category img:hover{
    cursor: pointer;
    transform: rotateX(5deg);
}

.category p {
  margin-top: 10px;
  font-weight: bold;
}

/* Section Title */
.section-title {
  text-align: center;
  font-size: 36px;
  margin-top: 40px;
}

.section-title span {
  color: orange;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  background-color: #f4f6f1;
  padding: 40px;
}
/* Container */
.menu-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px;
}

/* Card */
.menu-card {
  background: white;
  border-radius: 20px;
  overflow: hidden;
}

/* Image */
.menu-card img {
  width: 100%;
  height: 220px;
  object-fit: cover;
}

/* Content */
.menu-content {
  padding: 20px;
}

.menu-content h3 {
  font-size: 18px;
  margin-bottom: 10px;
}

.desc {
  font-size: 14px;
  color: #555;
  margin-bottom: 15px;
}

/* Price */
.price {
  font-size: 22px;
  font-weight: bold;
  margin-bottom: 15px;
}

.price span {
  font-size: 14px;
  font-weight: normal;
  color: #666;
}

/* Button */
.menu-content button {
  width: 100%;
  background-color: #6b0015;
  color: white;
  border: none;
  padding: 12px;
  font-size: 16px;
  border-radius: 30px;
  cursor: pointer;
}

.menu-content button:hover {
  background-color: #8b0020;
}


    
                